body{
  background:black;
  color:#fab200;
  font-family:Arial, sans-serif;
  margin:0px;
  text-align:center;
}
#banner{
  width:100%;
    hight:auto;
}
section{
  padding:25px;
}
#content{
  background-color:#fab200;
  color:black;
  margin-top:10px;
}
table{
  width:50%;
    border:solid 2px;
    border-collapse: collapse;
  text-align:center;
  margin:18px auto;
}
table th,td{
  padding:20px;
}
table th{
  background-color:#eec55f;
  color:black;
  border:4px solid;
}
table td{
  border:4px solid;
  background-color:#eec55f;
}
#form-section{
  margin-top:30px;
  padding:10px;
}
